# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:

  # github actions
  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "monthly"

  # nuget packages
  - package-ecosystem: "nuget" # See documentation for possible values
    directory: "/src/WebApiBolierplate/API/" # Location of package manifests
    schedule:
      interval: "monthly"
  - package-ecosystem: "nuget" # See documentation for possible values
    directory: "/src/WebApiBolierplate/Core.Constants/" # Location of package manifests
    schedule:
      interval: "monthly"
  - package-ecosystem: "nuget" # See documentation for possible values
    directory: "/src/WebApiBolierplate/Core.Lib/" # Location of package manifests
    schedule:
      interval: "monthly"
  - package-ecosystem: "nuget" # See documentation for possible values
    directory: "/src/WebApiBolierplate/Core.Test/" # Location of package manifests
    schedule:
      interval: "monthly"
