<?xml version="1.0" encoding="utf-8"?>

<!-- INFO -->
<!--
    Used to configure IIS Server. Ignore if you are using Kestral.
    For storing app data use appsettings.json
    Ref: https://learn.microsoft.com/en-us/iis/configuration/
-->

<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<!-- 
					Used to supress the X-Powered-By header in the response.
					Works in IIS version 8 and above.
					Ref: https://docs.microsoft.com/en-us/iis/configuration/system.webserver/httpprotocol/customheaders/
				-->
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<security>
			<!--
				Used to supress the IIS server header in the response.
				Works in IIS version 10 and above.
				Ref: https://learn.microsoft.com/en-us/iis/configuration/system.webserver/security/requestfiltering/
			-->
			<requestFiltering removeServerHeader="true" />
		</security>
	</system.webServer>
</configuration>