name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        show-progress: false
    - name: Install dependencies
      run: |
        cd ./src/WebApiBolierplate
        dotnet restore
    - name: Build
      run: |
        cd ./src/WebApiBolierplate
        dotnet build --configuration Release --no-restore
    - name: Test
      run: |
        cd ./src/WebApiBolierplate
        dotnet test ./Core.Test/Core.Test.csproj
