name: CI

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '.github/**'

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3.0.2
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v3.0.0
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: |
        cd ./src/WebApiBolierplate
        dotnet restore
    - name: Build
      run: |
        cd ./src/WebApiBolierplate
        dotnet build --configuration Release --no-restore
    - name: Test
      run: |
        cd ./src/WebApiBolierplate
        dotnet test ./Core.Test/Core.Test.csproj
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3.0.2
    - name: Install dependencies
      run: |
        cd ./src/WebApiBolierplate
        dotnet restore
    - name: Build
      run: |
        cd ./src/WebApiBolierplate
        dotnet build --configuration Release --no-restore
    - name: Test
      run: |
        cd ./src/WebApiBolierplate
        dotnet test ./Core.Test/Core.Test.csproj
